In [2]:
import pandas as pd
import numpy as np
Train_loan_df = pd.read_csv(r"C:\Users\kpanwar\Desktop\Loan_DataSet\Train.csv")

In [3]:
Train_loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
Train_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [5]:
Train_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [6]:
Train_loan_df.dropna(inplace= True)

In [7]:
Train_loan_df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
Train_loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
Loan_ID              480 non-null object
Gender               480 non-null object
Married              480 non-null object
Dependents           480 non-null object
Education            480 non-null object
Self_Employed        480 non-null object
ApplicantIncome      480 non-null int64
CoapplicantIncome    480 non-null float64
LoanAmount           480 non-null float64
Loan_Amount_Term     480 non-null float64
Credit_History       480 non-null float64
Property_Area        480 non-null object
Loan_Status          480 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [9]:
Employed= pd.get_dummies(Train_loan_df['Self_Employed'], drop_first=True)

In [10]:
Employed

     Yes
1      0
2      1
3      0
4      0
5      1
6      0
7      0
8      0
9      0
10     0
12     0
13     0
14     0
15     0
17     0
18     0
20     0
21     0
22     0
25     1
26     0
27     0
28     0
31     0
32     1
33     0
34     0
37     0
38     0
39     0
..   ...
575    0
577    0
578    0
580    0
581    0
582    0
584    0
585    0
586    0
587    0
589    1
590    0
591    1
593    0
594    1
595    0
596    1
598    1
599    0
602    0
603    0
604    0
606    0
607    0
608    0
609    0
610    0
611    0
612    0
613    1

[480 rows x 1 columns]

In [11]:
Employed.rename(columns={'Yes': 'employed'}, inplace=True)

In [12]:
Employed

     employed
1           0
2           1
3           0
4           0
5           1
6           0
7           0
8           0
9           0
10          0
12          0
13          0
14          0
15          0
17          0
18          0
20          0
21          0
22          0
25          1
26          0
27          0
28          0
31          0
32          1
33          0
34          0
37          0
38          0
39          0
..        ...
575         0
577         0
578         0
580         0
581         0
582         0
584         0
585         0
586         0
587         0
589         1
590         0
591         1
593         0
594         1
595         0
596         1
598         1
599         0
602         0
603         0
604         0
606         0
607         0
608         0
609         0
610         0
611         0
612         0
613         1

[480 rows x 1 columns]

In [13]:
property_area= pd.get_dummies(Train_loan_df['Property_Area'], drop_first=True)

In [14]:
property_area

     Semiurban  Urban
1            0      0
2            0      1
3            0      1
4            0      1
5            0      1
6            0      1
7            1      0
8            0      1
9            1      0
10           0      1
12           0      1
13           0      0
14           0      1
15           0      1
17           0      1
18           0      0
20           0      1
21           0      1
22           1      0
25           1      0
26           1      0
27           0      1
28           0      1
31           0      1
32           0      0
33           1      0
34           0      0
37           1      0
38           0      1
39           1      0
..         ...    ...
575          0      1
577          0      1
578          0      0
580          1      0
581          0      1
582          1      0
584          0      0
585          0      0
586          0      1
587          1      0
589          1      0
590          1      0
591          1      0
593          0      0
594          0      1
595          0      0
596          0      0
598          0      0
599          0      1
602          0      1
603          0      0
604          1      0
606          1      0
607          0      0
608          0      0
609          0      0
610          0      0
611          0      1
612          0      1
613          1      0

[480 rows x 2 columns]

In [15]:
graduate = pd.get_dummies(Train_loan_df['Education'], drop_first=True)

In [16]:
graduate

     Not Graduate
1               0
2               0
3               1
4               0
5               0
6               1
7               0
8               0
9               0
10              0
12              0
13              0
14              0
15              0
17              0
18              1
20              1
21              0
22              1
25              0
26              0
27              1
28              1
31              0
32              0
33              0
34              0
37              0
38              0
39              1
..            ...
575             0
577             0
578             0
580             0
581             0
582             0
584             0
585             0
586             0
587             1
589             0
590             0
591             0
593             0
594             0
595             1
596             1
598             0
599             0
602             0
603             0
604             0
606             0
607             1
608             0
609             0
610             0
611             0
612             0
613             0

[480 rows x 1 columns]

In [17]:
Train_loan_df= pd.concat([Train_loan_df,graduate, property_area, Employed], axis=1)

In [18]:
Train_loan_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Not Graduate,Semiurban,Urban,employed
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0,0,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0,0,1,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,0,1,0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0,0,1,0
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y,0,0,1,1
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y,1,0,1,0
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N,0,1,0,0
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y,0,0,1,0
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N,0,1,0,0
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y,0,0,1,0
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y,0,0,1,0
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N,0,0,0,0
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y,0,0,1,0
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y,0,0,1,0
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N,0,0,1,0
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N,1,0,0,0
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N,1,0,1,0
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y,0,0,1,0
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N,1,1,0,0
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y,0,1,0,1
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y,0,1,0,0
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y,1,0,1,0
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N,1,0,1,0
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N,0,0,1,0
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N,0,0,0,1
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y,0,1,0,0
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N,0,0,0,0
37,LP001112,Female,Yes,0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y,0,1,0,0
38,LP001114,Male,No,0,Graduate,No,4166,7210.0,184.0,360.0,1.0,Urban,Y,0,0,1,0
39,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,LP002868,Male,Yes,2,Graduate,No,3159,461.0,108.0,84.0,1.0,Urban,Y,0,0,1,0
577,LP002874,Male,No,0,Graduate,No,3229,2739.0,110.0,360.0,1.0,Urban,Y,0,0,1,0
578,LP002877,Male,Yes,1,Graduate,No,1782,2232.0,107.0,360.0,1.0,Rural,Y,0,0,0,0
580,LP002892,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y,0,1,0,0
581,LP002893,Male,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N,0,0,1,0
582,LP002894,Female,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y,0,1,0,0
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N,0,0,0,0
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N,0,0,0,0
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y,0,0,1,0
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y,1,1,0,0
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N,0,1,0,1
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y,0,1,0,0
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N,0,1,0,1
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y,0,0,0,0
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y,0,0,1,1
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y,1,0,0,0
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N,1,0,0,1
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y,0,0,0,1
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y,0,0,1,0
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y,0,0,1,0
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y,0,0,0,0
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y,0,1,0,0
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y,0,1,0,0
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y,1,0,0,0
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y,0,0,0,0
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,0,0,0,0
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,0,0,0,0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,0,0,1,0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,0,0,1,0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,0,1,0,1

In [19]:
Loan_Approved=pd.get_dummies(Train_loan_df['Loan_Status'], drop_first=True)

In [20]:
Loan_Approved

     Y
1    0
2    1
3    1
4    1
5    1
6    1
7    0
8    1
9    0
10   1
12   1
13   0
14   1
15   1
17   0
18   0
20   0
21   1
22   0
25   1
26   1
27   1
28   0
31   0
32   0
33   1
34   0
37   1
38   1
39   1
..  ..
575  1
577  1
578  1
580  1
581  0
582  1
584  0
585  0
586  1
587  1
589  0
590  1
591  0
593  1
594  1
595  1
596  0
598  1
599  1
602  1
603  1
604  1
606  1
607  1
608  1
609  1
610  1
611  1
612  1
613  0

[480 rows x 1 columns]

In [21]:
Loan_Approved.rename(columns={'Y': 'loan_approved'}, inplace=True)

In [22]:
Loan_Approved

     loan_approved
1                0
2                1
3                1
4                1
5                1
6                1
7                0
8                1
9                0
10               1
12               1
13               0
14               1
15               1
17               0
18               0
20               0
21               1
22               0
25               1
26               1
27               1
28               0
31               0
32               0
33               1
34               0
37               1
38               1
39               1
..             ...
575              1
577              1
578              1
580              1
581              0
582              1
584              0
585              0
586              1
587              1
589              0
590              1
591              0
593              1
594              1
595              1
596              0
598              1
599              1
602              1
603              1
604              1
606              1
607              1
608              1
609              1
610              1
611              1
612              1
613              0

[480 rows x 1 columns]

In [23]:
Loan_Approved

     loan_approved
1                0
2                1
3                1
4                1
5                1
6                1
7                0
8                1
9                0
10               1
12               1
13               0
14               1
15               1
17               0
18               0
20               0
21               1
22               0
25               1
26               1
27               1
28               0
31               0
32               0
33               1
34               0
37               1
38               1
39               1
..             ...
575              1
577              1
578              1
580              1
581              0
582              1
584              0
585              0
586              1
587              1
589              0
590              1
591              0
593              1
594              1
595              1
596              0
598              1
599              1
602              1
603              1
604              1
606              1
607              1
608              1
609              1
610              1
611              1
612              1
613              0

[480 rows x 1 columns]

In [24]:
def ConvertDependents(val):
    if val=="3+":
        return "3"
    else:
        return val

In [25]:
Train_loan_df['Dependents']=Train_loan_df['Dependents'].apply(ConvertDependents)

In [26]:
Train_loan_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Not Graduate,Semiurban,Urban,employed
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0,0,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0,0,1,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,0,1,0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0,0,1,0
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y,0,0,1,1
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y,1,0,1,0
7,LP001014,Male,Yes,3,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N,0,1,0,0
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y,0,0,1,0
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N,0,1,0,0
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y,0,0,1,0
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y,0,0,1,0
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N,0,0,0,0
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y,0,0,1,0
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y,0,0,1,0
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N,0,0,1,0
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N,1,0,0,0
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N,1,0,1,0
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y,0,0,1,0
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N,1,1,0,0
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y,0,1,0,1
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y,0,1,0,0
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y,1,0,1,0
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N,1,0,1,0
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N,0,0,1,0
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N,0,0,0,1
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y,0,1,0,0
34,LP001100,Male,No,3,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N,0,0,0,0
37,LP001112,Female,Yes,0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y,0,1,0,0
38,LP001114,Male,No,0,Graduate,No,4166,7210.0,184.0,360.0,1.0,Urban,Y,0,0,1,0
39,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,LP002868,Male,Yes,2,Graduate,No,3159,461.0,108.0,84.0,1.0,Urban,Y,0,0,1,0
577,LP002874,Male,No,0,Graduate,No,3229,2739.0,110.0,360.0,1.0,Urban,Y,0,0,1,0
578,LP002877,Male,Yes,1,Graduate,No,1782,2232.0,107.0,360.0,1.0,Rural,Y,0,0,0,0
580,LP002892,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y,0,1,0,0
581,LP002893,Male,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N,0,0,1,0
582,LP002894,Female,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y,0,1,0,0
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N,0,0,0,0
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N,0,0,0,0
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y,0,0,1,0
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y,1,1,0,0
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N,0,1,0,1
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y,0,1,0,0
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N,0,1,0,1
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y,0,0,0,0
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y,0,0,1,1
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y,1,0,0,0
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N,1,0,0,1
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y,0,0,0,1
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y,0,0,1,0
602,LP002953,Male,Yes,3,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y,0,0,1,0
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y,0,0,0,0
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y,0,1,0,0
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y,0,1,0,0
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y,1,0,0,0
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y,0,0,0,0
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,0,0,0,0
610,LP002979,Male,Yes,3,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,0,0,0,0
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,0,0,1,0
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,0,0,1,0
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,0,1,0,1

In [27]:
Gender=pd.get_dummies(Train_loan_df['Gender'],drop_first=True)

In [28]:
Gender

     Male
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
12      1
13      1
14      1
15      1
17      0
18      1
20      1
21      1
22      1
25      1
26      1
27      1
28      1
31      1
32      1
33      1
34      1
37      0
38      1
39      1
..    ...
575     1
577     1
578     1
580     1
581     1
582     0
584     1
585     1
586     1
587     0
589     1
590     1
591     1
593     1
594     1
595     1
596     1
598     1
599     1
602     1
603     1
604     0
606     1
607     1
608     1
609     0
610     1
611     1
612     1
613     0

[480 rows x 1 columns]

In [29]:
Train_loan_df.drop(['Education','Gender','Property_Area','Self_Employed','Loan_Status'], axis=1, inplace=True)

In [30]:
Train_loan_df.drop(['Loan_ID','Married'], axis=1, inplace=True)

In [31]:
Train_loan_df = pd.concat([Train_loan_df,Gender,Loan_Approved],axis=1)

In [32]:
Train_loan_df

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Not Graduate,Semiurban,Urban,employed,Male,loan_approved
1,1,4583,1508.0,128.0,360.0,1.0,0,0,0,0,1,0
2,0,3000,0.0,66.0,360.0,1.0,0,0,1,1,1,1
3,0,2583,2358.0,120.0,360.0,1.0,1,0,1,0,1,1
4,0,6000,0.0,141.0,360.0,1.0,0,0,1,0,1,1
5,2,5417,4196.0,267.0,360.0,1.0,0,0,1,1,1,1
6,0,2333,1516.0,95.0,360.0,1.0,1,0,1,0,1,1
7,3,3036,2504.0,158.0,360.0,0.0,0,1,0,0,1,0
8,2,4006,1526.0,168.0,360.0,1.0,0,0,1,0,1,1
9,1,12841,10968.0,349.0,360.0,1.0,0,1,0,0,1,0
10,2,3200,700.0,70.0,360.0,1.0,0,0,1,0,1,1
12,2,3073,8106.0,200.0,360.0,1.0,0,0,1,0,1,1
13,0,1853,2840.0,114.0,360.0,1.0,0,0,0,0,1,0
14,2,1299,1086.0,17.0,120.0,1.0,0,0,1,0,1,1
15,0,4950,0.0,125.0,360.0,1.0,0,0,1,0,1,1
17,0,3510,0.0,76.0,360.0,0.0,0,0,1,0,0,0
18,0,4887,0.0,133.0,360.0,1.0,1,0,0,0,1,0
20,0,7660,0.0,104.0,360.0,0.0,1,0,1,0,1,0
21,1,5955,5625.0,315.0,360.0,1.0,0,0,1,0,1,1
22,0,2600,1911.0,116.0,360.0,0.0,1,1,0,0,1,0
25,0,9560,0.0,191.0,360.0,1.0,0,1,0,1,1,1
26,0,2799,2253.0,122.0,360.0,1.0,0,1,0,0,1,1
27,2,4226,1040.0,110.0,360.0,1.0,1,0,1,0,1,1
28,0,1442,0.0,35.0,360.0,1.0,1,0,1,0,1,0
31,0,3167,0.0,74.0,360.0,1.0,0,0,1,0,1,0
32,1,4692,0.0,106.0,360.0,1.0,0,0,0,1,1,0
33,0,3500,1667.0,114.0,360.0,1.0,0,1,0,0,1,1
34,3,12500,3000.0,320.0,360.0,1.0,0,0,0,0,1,0
37,0,3667,1459.0,144.0,360.0,1.0,0,1,0,0,0,1
38,0,4166,7210.0,184.0,360.0,1.0,0,0,1,0,1,1
39,0,3748,1668.0,110.0,360.0,1.0,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
575,2,3159,461.0,108.0,84.0,1.0,0,0,1,0,1,1
577,0,3229,2739.0,110.0,360.0,1.0,0,0,1,0,1,1
578,1,1782,2232.0,107.0,360.0,1.0,0,0,0,0,1,1
580,2,6540,0.0,205.0,360.0,1.0,0,1,0,0,1,1
581,0,1836,33837.0,90.0,360.0,1.0,0,0,1,0,1,0
582,0,3166,0.0,36.0,360.0,1.0,0,1,0,0,0,1
584,1,2787,1917.0,146.0,360.0,0.0,0,0,0,0,1,0
585,1,4283,3000.0,172.0,84.0,1.0,0,0,0,0,1,0
586,0,2297,1522.0,104.0,360.0,1.0,0,0,1,0,1,1
587,0,2165,0.0,70.0,360.0,1.0,1,1,0,0,0,1
589,2,2726,0.0,106.0,360.0,0.0,0,1,0,1,1,0
590,0,3000,3416.0,56.0,180.0,1.0,0,1,0,0,1,1
591,2,6000,0.0,205.0,240.0,1.0,0,1,0,1,1,0
593,0,3859,3300.0,142.0,180.0,1.0,0,0,0,0,1,1
594,0,16120,0.0,260.0,360.0,1.0,0,0,1,1,1,1
595,0,3833,0.0,110.0,360.0,1.0,1,0,0,0,1,1
596,2,6383,1000.0,187.0,360.0,1.0,1,0,0,1,1,0
598,0,9963,0.0,180.0,360.0,1.0,0,0,0,1,1,1
599,2,5780,0.0,192.0,360.0,1.0,0,0,1,0,1,1
602,3,5703,0.0,128.0,360.0,1.0,0,0,1,0,1,1
603,0,3676,4301.0,172.0,360.0,1.0,0,0,0,0,1,1
604,1,12000,0.0,496.0,360.0,1.0,0,1,0,0,0,1
606,1,3400,2500.0,173.0,360.0,1.0,0,1,0,0,1,1
607,2,3987,1411.0,157.0,360.0,1.0,1,0,0,0,1,1
608,0,3232,1950.0,108.0,360.0,1.0,0,0,0,0,1,1
609,0,2900,0.0,71.0,360.0,1.0,0,0,0,0,0,1
610,3,4106,0.0,40.0,180.0,1.0,0,0,0,0,1,1
611,1,8072,240.0,253.0,360.0,1.0,0,0,1,0,1,1
612,2,7583,0.0,187.0,360.0,1.0,0,0,1,0,1,1
613,0,4583,0.0,133.0,360.0,0.0,0,1,0,1,0,0

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X= Train_loan_df.drop('loan_approved', axis=1)
y= Train_loan_df['loan_approved']

In [35]:
X_train,X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=42)

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
reg= LogisticRegression()

In [39]:
reg.fit(X_train,y_train)

E:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [43]:
prediction = reg.predict(X_test)

In [42]:
from sklearn.metrics import classification_report

In [44]:
classification_report(y_test, prediction)

'              precision    recall  f1-score   support\n\n           0       1.00      0.34      0.51        44\n           1       0.78      1.00      0.87       100\n\n   micro avg       0.80      0.80      0.80       144\n   macro avg       0.89      0.67      0.69       144\nweighted avg       0.84      0.80      0.76       144\n'

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
accuracy_score(y_test, prediction)

0.7986111111111112